@model StudyBuddyApp.Models.Obavjestenje

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Obavjestenje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sadrzaj" class="control-label"></label>
                <input asp-for="Sadrzaj" class="form-control" />
                <span asp-validation-for="Sadrzaj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumSlanja" class="control-label"></label>
                <input asp-for="DatumSlanja" class="form-control" />
                <span asp-validation-for="DatumSlanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KorisnikId" class="control-label"></label>
                <select asp-for="KorisnikId" class ="form-control" asp-items="ViewBag.KorisnikId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipObavjestenja" class="control-label"></label>
                <select asp-for="TipObavjestenja" class="form-control"></select>
                <span asp-validation-for="TipObavjestenja" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Procitano" /> @Html.DisplayNameFor(model => model.Procitano)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
